:root {
  @media (prefers-color-scheme: dark) {
    --accent: #7fb4ca;
    --accent-alpha-70: #7e9cd8;
    --accent-alpha-20: #223249;

    --background: #1f1f28;
    --color: #dcd7ba;
    --border-color: #363646;

    div.logo {
      color: black;
    }
  }
  @media (prefers-color-scheme: light) {
    --accent: #7fb4ca;
    --accent-alpha-70: #7e9cd8;
    --accent-alpha-20: #223249;

    --background: #f2ebbc;
    --color: #545464;
    --border-color: #363646;
    
    div.logo {
      color: white;
    }
  }
}