:root {
  @media (prefers-color-scheme: dark) {
    --accent: #98bb6c;
    --accent-alpha-70: #7aa89f;
    --accent-alpha-20: #2d4f67;
  
    --background: #1f1f28;
    --color: #dcd7ba;
    --border-color: #363646;

    div.logo {
      color: black;
    }
  }
  @media (prefers-color-scheme: light) {
    --accent: #98bb6c;
    --accent-alpha-70: #7aa89f;
    --accent-alpha-20: #2d4f67;
  
    --background: #f2ebbc;
    --color: #545464;
    --border-color: #363646;

    div.logo {
      color: white;
    }
  }
}